/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
body, html {
  overflow-x: hidden;
} 

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}


.custom-carousel .react-multiple-carousel__arrow {
  z-index: 2;
  background-color: #dc3545 !important; /* Merah seperti Bootstrap Danger */
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.custom-carousel .react-multiple-carousel__arrow--left {
  left: -25px;
}

.custom-carousel .react-multiple-carousel__arrow--right {
  right: -25px;
}

.testimonial-card {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  border: none;
}

.testimonial-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.custom-red-button {
  background-color: #C5203C !important;
  border-color: #C5203C !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
  cursor: pointer;
}

.custom-red-button:focus,
.custom-red-button:active {
  outline: none !important;
  box-shadow: none !important;
}

.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-dropdown-item:focus,
.custom-dropdown-item:active,
.custom-dropdown-item:hover {
  background-color: #f8f9fa !important; /* abu-abu terang */
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: #333 !important;
}

.margin-top-custom {
    margin-top: -140px;
}

@media (max-width: 768px) {
    .margin-top-custom {
        margin-top: 0px !important;
    }
}

